<div style="margin-top: 10px; margin-bottom: 10px;">
<a href="https://twitter.com/ForYogi" target="_blank" class="unstyled">
  <span class="icon-stack">
  <i class="icon-circle icon-stack-base icon-3x"></i>
  <i class="icon-twitter icon-2x icon-light"></i>
  </span>
</a>
<a href="https://facebook.com/foryogi" target="_blank" class="unstyled">
    <span class="icon-stack">
    <i class="icon-circle icon-stack-base icon-3x"></i>
    <i class="icon-facebook icon-2x icon-light"></i>
    </span>
</a>
<a href="https://pinterest.com/foryogi" target="_blank" class="unstyled">
    <span class="icon-stack">
    <i class="icon-circle icon-stack-base icon-3x"></i>
    <i class="icon-pinterest icon-2x icon-light"></i>
    </span>
</a>
<a href="https://google.com/+Foryogi" target="_blank" class="unstyled">
    <span class="icon-stack">
    <i class="icon-circle icon-stack-base icon-3x"></i>
    <i class="icon-google-plus icon-2x icon-light"></i>
    </span>
</a>
</div>